:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #212121;
  font-size: 16px;
  line-height: 1.5;
}

button {
  min-width: 100px;
  background: lightblue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  padding: 8px 24px;
  transition: box-shadow var(--animation-duration) var(--timing-function);
}
button:hover,
button:focus {
  background: lightskyblue;
}
.search-form-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: azure;
}
.search-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 600px;
  margin-bottom: 16px;
}
input {
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid lightblue;
}
input:focus {
  border: 2px solid lightskyblue;
  outline: none;
}

.gallery {
  margin-top: 60px;
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  background-color: #fff;
  max-width: 320px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--animation-duration) var(--timing-function);
}
.photo-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.photo {
  display: block;
  width: 320px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  text-align: center;
}
.info-item {
  font-size: 14px;
}
.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hide {
  display: none;
}
